<form class="{{cssClass}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  <header class="odnd-charsheet">
    <img
      class="profile-img odnd-char-icon"
      src="{{data.img}}"
      data-edit="img"
      title="{{data.name}}"
      height="100"
      width="100"
    />
    <h1 class="odnd-char-name">
      <input name="name" type="text" value="{{data.name}}" />
    </h1>
    <section class="odnd-char-resources">
      <label>Class</label>
      <select name="data.class" value="{{sheetData.class}}">
        {{#select sheetData.class}} {{#each CHARACTER_CLASSES}}
        <option value="{{this}}">{{this}}</option>
        {{/each}} {{/select}}
      </select>
      <label>Level</label>
      <input
        name="data.level.value"
        type="number"
        value="{{sheetData.level.value}}"
      />
      <label>HP</label>
      <div class="hp-block">
        <input
          name="data.hitPoints.value"
          type="number"
          value="{{sheetData.hitPoints.value}}"
        />
        <span>/</span>
        <input
          name="data.hitPoints.max"
          type="number"
          value="{{sheetData.hitPoints.max}}"
        />
      </div>
    </section>
  </header>

  {{!-- Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="record">Character Record</a>
    <a class="item" data-tab="inventory">Inventory</a>
    <a class="item" data-tab="magic">Magic</a>
  </nav>

  {{!-- Character Record Tab --}}
  <section class="sheet-body odnd-sheet-body">
    <div
      class="tab record character-record"
      data-group="primary"
      data-tab="record"
    >
      <section class="character-abilities">
        <label>Strength</label>
        <input name="data.str" type="number" value="{{sheetData.str}}" />
        <label>Intelligence</label>
        <input name="data.int" type="number" value="{{sheetData.int}}" />
        <label>Wisdom</label>
        <input name="data.wis" type="number" value="{{sheetData.wis}}" />
        <label>Constitution</label>
        <input name="data.con" type="number" value="{{sheetData.con}}" />
        <label>Dexterity</label>
        <input name="data.dex" type="number" value="{{sheetData.dex}}" />
        <label>Charisma</label>
        <input name="data.cha" type="number" value="{{sheetData.cha}}" />
      </section>
      <section class="three-labeled-across" style="padding-top: 5px">
        <label>Experience</label>
        <input name="data.xp" type="number" value="{{sheetData.xp}}" />
        <label>XP Bonus</label>
        <span>
          <input
            name="data.xpBonus"
            type="number"
            style="width: calc(100% - 2em)"
            value="{{sheetData.xpBonus}}"
          />
          %
        </span>
        <label>Alignment</label>
        <select name="data.alignment" value="sheetData.alignment">
          {{#select sheetData.alignment}} {{#each ALIGNMENTS}}
          <option value="{{this}}">{{this}}</option>
          {{/each}} {{/select}}
        </select>
      </section>
      <section class="saving-throws">
        <span>
          <label>Death & Poison</label>
          <input
            type="number"
            name="data.deathPoison"
            value="{{sheetData.deathPoison}}"
          />
        </span>
        <span>
          <label>Wands</label>
          <input type="number" name="data.wands" value="{{sheetData.wands}}" />
        </span>
        <span>
          <label>Stone</label>
          <input type="number" name="data.stone" value="{{sheetData.stone}}" />
        </span>
        <span>
          <label>Dragon's Breath</label>
          <input
            type="number"
            name="data.dragonBreath"
            value="{{sheetData.dragonBreath}}"
          />
        </span>
        <span>
          <label>Spells & Staves</label>
          <input
            type="number"
            name="data.stavesSpells"
            value="{{sheetData.stavesSpells}}"
          />
        </span>
      </section>
      <section class="three-labeled-across" style="margin-top: 0.5em">
        <label>Withstand Adversity</label>
        <input
          type="number"
          name="data.withstandAdversity"
          value="{{sheetData.withstandAdversity}}"
        />
        <label>Bonus per Hit Die</label>
        <input
          type="number"
          name="data.hdBonus"
          value="{{sheetData.hdBonus}}"
        />
        <label>Missile Attack Bonus</label>
        <input
          type="number"
          name="data.missileBonus"
          value="{{sheetData.missileBonus}}"
        />
      </section>
      <section class="two-unlabeled-across" style="margin-top: 0.5em">
        <div>
          <label style="margin-left: 1em; padding-bottom: 3px">Languages</label>
          <div class="languages-display">
            <ol class="language-list">
              {{#each sheetItems as |language id|}} {{#if
              language.data.isLanguage}}
              <li class="language" data-item-id="{{language._id}}">
                <span> {{language.name}} </span>
                <a class="edit-language" data-target="{{language._id}}">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="remove-language" data-target="{{language._id}}">
                  <i class="fas fa-trash"></i>
                </a>
              </li>
              {{/if}} {{/each}}
            </ol>
          </div>
          <div style="text-align: center">
            <a class="add-language">+ Add Language</a>
          </div>
        </div>
        <div class="specie two-unlabeled-across">
          <label>Copper Pieces</label>
          <input
            name="data.specie.cp"
            value="{{sheetData.specie.cp}}"
            type="number"
          />
          <label>Silver Pieces</label>
          <input
            name="data.specie.sp"
            value="{{sheetData.specie.sp}}"
            type="number"
          />
          <label>Gold Pieces</label>
          <input
            name="data.specie.gp"
            value="{{sheetData.specie.gp}}"
            type="number"
          />
        </div>
      </section>
      <label>Character Notes</label>
      <input type="text" name="data.notes" value="{{sheetData.notes}}" />
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      <h2>Weapons</h2>
      <section class="two-unlabeled-across">
        <div>
          <label style="margin-left: 1em">Melee</label>
          <ol>
            {{#each sheetItems as |meleeWeapon id|}} {{#if
            meleeWeapon.data.isMeleeWeapon}}
            <li>
              <i>{{meleeWeapon.name}}</i> | Lth: {{meleeWeapon.data.length}} |
              As: {{meleeWeapon.data.fightsAs}}
              <span style="float: right; margin-right: 0.5em">
                <a class="edit-weapon" data-target="{{meleeWeapon._id}}">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="remove-weapon" data-target="{{meleeWeapon._id}}">
                  <i class="fas fa-trash"></i>
                </a>
              </span>
            </li>
            {{/if}} {{/each}}
          </ol>
          <div style="text-align: center">
            <a class="add-melee">+ Add Melee Weapon</a>
          </div>
        </div>
        <div>
          <label style="margin-left: 1em">Ranged</label>
          <ol>
            {{#each sheetItems as |missileWeapon id|}} {{#if
            missileWeapon.data.isMissileWeapon}}
            <li>
              <i>{{missileWeapon.name}}</i> | Range:
              {{missileWeapon.data.range}}"
              <span style="float: right">
                <a class="edit-weapon" data-target="{{missileWeapon._id}}">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="remove-weapon" data-target="{{missileWeapon._id}}">
                  <i class="fas fa-trash"></i>
                </a>
              </span>
            </li>
            {{/if}} {{/each}}
          </ol>
          <div style="text-align: center">
            <a class="add-missile">+ Add Missile Weapon</a>
          </div>
        </div>
      </section>
      <br />
      <h2>Armor</h2>
      <section class="two-unlabeled-across">
        {{#each sheetItems as |armor|}} {{#if armor.data.isArmor}}
        <span>
          <i>{{armor.name}}</i> | Defends As: {{armor.data.defendsAs}} | Wt:
          {{armor.data.weight}}
          <span style="float: right">
            <a class="edit-armor" data-target="{{armor._id}}">
              <i class="fas fa-edit"></i>
            </a>
            <a class="remove-armor" data-target="{{armor._id}}">
              <i class="fas fa-trash"></i>
            </a>
          </span>
        </span>
        {{/if}}{{/each}}
        <div style="text-align: center">
          <a class="add-armor">+ Add Armor</a>
        </div>
      </section>
      <br />
      <h2>Additional Inventory</h2>
      <section class="two-unlabeled-across">
        {{#each sheetItems as |item|}}{{#if item.data.isItem}}
        <span>
          <i>{{item.name}}</i> | Wt: {{item.data.weight}} | Qty:
          {{item.data.quantity}}
          <span style="float: right">
            <a class="edit-item" data-target="{{item._id}}">
              <i class="fas fa-edit"></i>
            </a>
            <a class="remove-item" data-target="{{item._id}}">
              <i class="fas fa-trash"></i>
            </a>
          </span>
        </span>
        {{/if}}{{/each}}
      </section>
      <div style="text-align: center">
        <a class="add-item">+ Add Item</a>
      </div>
    </div>

    {{!-- Magic Tab --}}
    <div class="tab magic" data-group="primary" data-tab="magic">
      <div class="spells-iterated">
        <h3>First Level</h3>
        <h3>Second Level</h3>
        <h3>Third Level</h3>
        <ol>
          {{#each sheetItems as |spell|}}{{#isSpellLevel spell 1}}
          <li>
            <a class="spell-cast">
              {{#if spell.data.wasCast}}
              <i class="fas fa-check-square"></i>
              {{else}}
              <i class="fas fa-square"></i>
              {{/if}}
            </a>
            <a class="edit-spell" data-target="{{spell._id}}">{{spell.name}}</a>
            <a
              class="remove-spell"
              style="float: right; margin-right: 2em"
              data-target="{{spell._id}}"
            >
              <i class="fas fa-trash"></i>
            </a>
          </li>
          {{/isSpellLevel}}{{/each}}
        </ol>
        <ol>
          {{#each sheetItems as |spell|}}{{#isSpellLevel spell 2}}
          <li>
            <a class="spell-cast">
              {{#if spell.data.wasCast}}
              <i class="fas fa-check-square"></i>
              {{else}}
              <i class="fas fa-square"></i>
              {{/if}}
            </a>
            <a class="edit-spell" data-target="{{spell._id}}">{{spell.name}}</a>
            <a
              class="remove-spell"
              style="float: right; margin-right: 2em"
              data-target="{{spell._id}}"
            >
              <i class="fas fa-trash"></i>
            </a>
          </li>
          {{/isSpellLevel}}{{/each}}
        </ol>
        <ol>
          {{#each sheetItems as |spell|}}{{#isSpellLevel spell 3}}
          <li>
            <a class="spell-cast">
              {{#if spell.data.wasCast}}
              <i class="fas fa-check-square"></i>
              {{else}}
              <i class="fas fa-square"></i>
              {{/if}}
            </a>
            <a class="edit-spell" data-target="{{spell._id}}">{{spell.name}}</a>
            <a
              class="remove-spell"
              style="float: right; margin-right: 2em"
              data-target="{{spell._id}}"
            >
              <i class="fas fa-trash"></i>
            </a>
          </li>
          {{/isSpellLevel}}{{/each}}
        </ol>
        <h3>Fourth Level</h3>
        <h3>Fifth Level</h3>
        <h3>Sixth Level</h3>
        <ol>
          {{#each sheetItems as |spell|}}{{#isSpellLevel spell 4}}
          <li>
            <a class="spell-cast">
              {{#if spell.data.wasCast}}
              <i class="fas fa-check-square"></i>
              {{else}}
              <i class="fas fa-square"></i>
              {{/if}}
            </a>
            <a class="edit-spell" data-target="{{spell._id}}">{{spell.name}}</a>
            <a
              class="remove-spell"
              style="float: right; margin-right: 2em"
              data-target="{{spell._id}}"
            >
              <i class="fas fa-trash"></i>
            </a>
          </li>
          {{/isSpellLevel}}{{/each}}
        </ol>
        <ol>
          {{#each sheetItems as |spell|}}{{#isSpellLevel spell 5}}
          <li>
            <a class="spell-cast">
              {{#if spell.data.wasCast}}
              <i class="fas fa-check-square"></i>
              {{else}}
              <i class="fas fa-square"></i>
              {{/if}}
            </a>
            <a class="edit-spell" data-target="{{spell._id}}">{{spell.name}}</a>
            <a
              class="remove-spell"
              style="float: right; margin-right: 2em"
              data-target="{{spell._id}}"
            >
              <i class="fas fa-trash"></i>
            </a>
          </li>
          {{/isSpellLevel}}{{/each}}
        </ol>
        <ol>
          {{#each sheetItems as |spell|}}{{#isSpellLevel spell 6}}
          <li>
            <a class="spell-cast">
              {{#if spell.data.wasCast}}
              <i class="fas fa-check-square"></i>
              {{else}}
              <i class="fas fa-square"></i>
              {{/if}}
            </a>
            <a class="edit-spell" data-target="{{spell._id}}">{{spell.name}}</a>
            <a
              class="remove-spell"
              style="float: right; margin-right: 2em"
              data-target="{{spell._id}}"
            >
              <i class="fas fa-trash"></i>
            </a>
          </li>
          {{/isSpellLevel}}{{/each}}
        </ol>
      </div>
      <div style="text-align: center">
        <a class="add-spell">Memorize Spell</a>
      </div>
    </div>
  </section>
</form>
