<form class="{{cssClass}}" autocomplete="off">
  <header class="odnd-weapon-header">
    <h1>
      <input name="name" type="text" value="{{data.name}}" />
    </h1>
    <div class="cost">
      <label>Cost</label>
      <input name="data.cost" type="number" value="{{weaponData.cost}}" />
      <select name="data.costCoin" value="{{weaponData.costCoin}}">
        {{#select weaponData.costCoin}} {{#each COIN_ABBREVIATIONS}}
        <option value="{{this}}">{{this}}</option>
        {{/each}} {{/select}}
      </select>
    </div>
    <div class="weight">
      <label>Weight</label>
      <input name="data.weight" type="number" value="{{weaponData.weight}}" />
    </div>
    <div class="quantity">
      <label>Quantity</label>
      <input
        name="data.quantity"
        type="number"
        value="{{weaponData.quantity}}"
      />
    </div>
  </header>

  <hr />

  <!-- Melee Weapons -->
  {{#if weaponData.isMeleeWeapon}}
  <section class="melee-weapon-details">
    <div class="two-labeled-across" style="margin-bottom: 5px">
      <label>Length</label>
      <input name="data.length" type="number" value="{{weaponData.length}}" />
      <label>Fights As</label>
      <select name="data.fightsAs" value="{{weaponData.fightsAs}}">
        {{#select weaponData.fightsAs}} {{#each TROOP_TYPES}}
        <option value="{{this}}">{{this}}</option>
        {{/each}} {{/select}}
      </select>
    </div>
    <label>Attack Vs: (with Shield)</label>
    <ol>
      <li>
        <span>Unarmored:</span>
        <input
          name="data.vsUnarmored"
          type="number"
          value="{{weaponData.vsUnarmored}}"
        />
        (
        <input
          name="data.vsShield"
          type="number"
          value="{{weaponData.vsShield}}"
        />
        )
      </li>
      <li>
        <span>Leather / Padded:</span>
        <input
          name="data.vsLeather"
          type="number"
          value="{{weaponData.vsLeather}}"
        />
        (
        <input
          name="data.vsLeatherShield"
          type="number"
          value="{{weaponData.vsLeatherShield}}"
        />
        )
      </li>
      <li>
        <span>Chain, etc:</span>
        <input
          name="data.vsChain"
          type="number"
          value="{{weaponData.vsChain}}"
        />
        (
        <input
          name="data.vsChainShield"
          type="number"
          value="{{weaponData.vsChainShield}}"
        />
        )
      </li>
      <li>
        <span>Plate:</span>
        <input
          name="data.vsPlate"
          type="number"
          value="{{weaponData.vsPlate}}"
        />
        (
        <input
          name="data.vsPlateShield"
          type="number"
          value="{{weaponData.vsPlateShield}}"
        />
        )
      </li>
    </ol>
    <label>Vs Horse: (with Barding)</label>
    <div class="two-unlabeled-across">
      <input name="data.vsHorse" type="number" value="{{weaponData.vsHorse}}" />
      <input
        name="data.vsBardedHorse"
        type="number"
        value="{{weaponData.vsBardedHorse}}"
      />
    </div>
    <div style="margin-top: 5px">
      <label>Notes</label>
      <input type="text" name="data.notes" value="{{weaponData.notes}}" />
    </div>
  </section>

  <!-- Missile Weapons -->
  {{/if}} {{#if weaponData.isMissileWeapon}}
  <section class="missile-weapon-details">
    <div class="range-and-notes">
      <label>Range</label>
      <input name="data.range" type="number" value="{{weaponData.range}}" />
      "
      <label>Notes</label>
      <input type="text" name="data.notes" value="{{weaponData.notes}}" />
    </div>
    <table>
      <tr>
        <th>Attack Vs (with Shield)</th>
        <th>Short Range</th>
        <th>Mid Range</th>
        <th>Long Range</th>
      </tr>
      <tr>
        <td>Unarmored</td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsUnarmored.short"
              type="number"
              value="{{weaponData.vsUnarmored.short}}"
            />
            (<input
              name="data.vsShield.short"
              type="number"
              value="{{weaponData.vsShield.short}}"
            />)
          </span>
        </td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsUnarmored.medium"
              type="number"
              value="{{weaponData.vsUnarmored.medium}}"
            />
            (<input
              name="data.vsShield.medium"
              type="number"
              value="{{weaponData.vsShield.medium}}"
            />)
          </span>
        </td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsUnarmored.long"
              type="number"
              value="{{weaponData.vsUnarmored.long}}"
            />
            (<input
              name="data.vsShield.long"
              type="number"
              value="{{weaponData.vsShield.long}}"
            />)
          </span>
        </td>
      </tr>
      <tr>
        <td>Leather / Padded</td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsLeather.short"
              type="number"
              value="{{weaponData.vsLeather.short}}"
            />
            (<input
              name="data.vsLeatherShield.short"
              type="number"
              value="{{weaponData.vsLeatherShield.short}}"
            />)
          </span>
        </td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsLeather.medium"
              type="number"
              value="{{weaponData.vsLeather.medium}}"
            />
            (<input
              name="data.vsLeatherShield.medium"
              type="number"
              value="{{weaponData.vsLeatherShield.medium}}"
            />)
          </span>
        </td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsLeather.long"
              type="number"
              value="{{weaponData.vsLeather.long}}"
            />
            (<input
              name="data.vsLeatherShield.long"
              type="number"
              value="{{weaponData.vsLeatherShield.long}}"
            />)
          </span>
        </td>
      </tr>
      <tr>
        <td>Chain, etc.</td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsChain.short"
              type="number"
              value="{{weaponData.vsChain.short}}"
            />
            (<input
              name="data.vsChainShield.short"
              type="number"
              value="{{weaponData.vsChainShield.short}}"
            />)
          </span>
        </td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsChain.medium"
              type="number"
              value="{{weaponData.vsChain.medium}}"
            />
            (<input
              name="data.vsChainShield.medium"
              type="number"
              value="{{weaponData.vsChainShield.medium}}"
            />)
          </span>
        </td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsChain.long"
              type="number"
              value="{{weaponData.vsChain.long}}"
            />
            (<input
              name="data.vsChainShield.long"
              type="number"
              value="{{weaponData.vsChainShield.long}}"
            />)
          </span>
        </td>
      </tr>
      <tr>
        <td>Plate</td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsPlate.short"
              type="number"
              value="{{weaponData.vsPlate.short}}"
            />
            (<input
              name="data.vsPlateShield.short"
              type="number"
              value="{{weaponData.vsPlateShield.short}}"
            />)
          </span>
        </td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsPlate.medium"
              type="number"
              value="{{weaponData.vsPlate.medium}}"
            />
            (<input
              name="data.vsPlateShield.medium"
              type="number"
              value="{{weaponData.vsPlateShield.medium}}"
            />)
          </span>
        </td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsPlate.long"
              type="number"
              value="{{weaponData.vsPlate.long}}"
            />
            (<input
              name="data.vsPlateShield.long"
              type="number"
              value="{{weaponData.vsPlateShield.long}}"
            />)
          </span>
        </td>
      </tr>
      <tr>
        <td>Horse (Barded)</td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsHorse.short"
              type="number"
              value="{{weaponData.vsHorse.short}}"
            />
            (<input
              name="data.vsBardedHorse.short"
              type="number"
              value="{{weaponData.vsBardedHorse.short}}"
            />)
          </span>
        </td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsHorse.medium"
              type="number"
              value="{{weaponData.vsHorse.medium}}"
            />
            (<input
              name="data.vsBardedHorse.medium"
              type="number"
              value="{{weaponData.vsBardedHorse.medium}}"
            />)
          </span>
        </td>
        <td>
          <span class="data-cell">
            <input
              name="data.vsHorse.long"
              type="number"
              value="{{weaponData.vsHorse.long}}"
            />
            (<input
              name="data.vsBardedHorse.long"
              type="number"
              value="{{weaponData.vsBardedHorse.long}}"
            />)
          </span>
        </td>
      </tr>
    </table>
  </section>
  {{/if}}
</form>
