/* Global */
input[type=number] {
  text-align: center;
}

.two-labeled-across {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.two-unlabeled-across {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

/* Character Sheet Header */
header.odnd-charsheet {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 100px 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "o-icon o-char-name"
    "o-icon o-resources";
  }

header.odnd-charsheet .odnd-char-icon {
  grid-area: o-icon;
}

header.odnd-charsheet .odnd-char-name {
  grid-area: o-char-name;
}

header.odnd-charsheet .odnd-char-resources {
  grid-area: o-resources;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr 2fr);
}

/* Character Sheet Body */
section.odnd-sheet-body .character-abilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr 2fr);
  grid-gap: 5px;
}

section.odnd-sheet-body .three-labeled-across {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

section.odnd-sheet-body ol {
  list-style: none;
  padding-inline-start: 0px;
}

section.odnd-sheet-body ol.language-list li {
  display: grid;
  grid-template-columns: 1fr 1em 1em;
  grid-gap: 5px;
}

section.odnd-sheet-body .saving-throws {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  margin: 10px 0px;
}

section.odnd-sheet-body .specie label {
  text-align: center;
}

/* Languages Sheet */
header.odnd-language-header h1 input{
  height: 1.5em;
}

/* Weapon Sheet */
header.odnd-weapon-header h1 input{
  height: 1.5em;
}

header.odnd-weapon-header {
  display: grid;
  grid-gap: 5px;
  grid-template-areas: 
    "name name name"
    "cost weight quantity";
}

header.odnd-weapon-header h1 {
  grid-area: name;
}

header.odnd-weapon-header .cost {
  grid-area: cost;
  display: grid;
  grid-template-areas: 
    "label label"
    "input select";
  grid-template-columns: 2fr 1fr;
}

header.odnd-weapon-header .cost label {
  grid-area: label;
}

header.odnd-weapon-header .cost input {
  grid-area: input;
}

header.odnd-weapon-header .cost select {
  grid-area: select;
}

header.odnd-weapon-header .weight {
  grid-area: weight;
}

header.odnd-weapon-header .quantity {
  grid-area: quantity;
}

section.melee-weapon-details ol {
  list-style: none;
  padding-inline-start: 0px;
}

section.melee-weapon-details li {
  display: grid;
  grid-template-columns: 1fr 1fr 1em 1fr 1em;
  text-align: center;
}

section.melee-weapon-details li span {
  text-align: right;
  padding-right: 1em;
}