/* Global */
h1 input {
  height: 1.5em !important;
}

input[type=number] {
  text-align: center;
}

.two-labeled-across {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.two-unlabeled-across {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.three-unlabeled-across {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.three-labeled-across {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.item-cost {
  display: grid;
  grid-template-areas:
    "label label"
    "cost coin";
  grid-template-columns: 2fr 1fr;
}
.item-cost label {
  grid-area: label;
}
.item-cost input {
  grid-area: cost;
}
.item-cost select {
  grid-area: coin;
}

/* Character Sheet Header */
header.odnd-charsheet {
  display: grid;
  grid-template-rows: 50px 60px;
  grid-template-columns: 110px 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "o-icon o-char-name"
    "o-icon o-resources";
  }

header.odnd-charsheet .odnd-char-icon {
  grid-area: o-icon;
  height: 110px;
  width: 110px;
}

header.odnd-charsheet .odnd-char-name {
  grid-area: o-char-name;
}

header.odnd-charsheet .odnd-char-resources {
  grid-area: o-resources;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr 2fr);
  grid-gap: 5px;
}

header.odnd-charsheet .hp-block {
  display: grid;
  grid-template-columns: 1fr 1em 1fr;
  text-align: center;
}

/* Character Sheet Body */
section.odnd-sheet-body .character-abilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr 2fr);
  grid-gap: 5px;
}

section.odnd-sheet-body .three-labeled-across {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

section.odnd-sheet-body ol {
  list-style: none;
  padding-inline-start: 0px;
}

section.odnd-sheet-body ol.language-list li {
  display: grid;
  grid-template-columns: 1fr 1em 1em;
  grid-gap: 5px;
}

section.odnd-sheet-body .saving-throws {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  margin: 10px 0px;
}

section.odnd-sheet-body .specie label {
  text-align: center;
}

/* Weapon Sheet */
header.odnd-weapon-header {
  display: grid;
  grid-gap: 5px;
  grid-template-areas: 
    "name name name"
    "cost weight quantity";
}

header.odnd-weapon-header h1 {
  grid-area: name;
}

header.odnd-weapon-header .cost {
  grid-area: cost;
  display: grid;
  grid-template-areas: 
    "label label"
    "input select";
  grid-template-columns: 2fr 1fr;
}

header.odnd-weapon-header .cost label {
  grid-area: label;
}

header.odnd-weapon-header .cost input {
  grid-area: input;
}

header.odnd-weapon-header .cost select {
  grid-area: select;
}

header.odnd-weapon-header .weight {
  grid-area: weight;
}

header.odnd-weapon-header .quantity {
  grid-area: quantity;
}

section.melee-weapon-details ol {
  list-style: none;
  padding-inline-start: 0px;
}

section.melee-weapon-details li {
  display: grid;
  grid-template-columns: 1fr 1fr 1em 1fr 1em;
  text-align: center;
}

section.melee-weapon-details li span {
  text-align: right;
  padding-right: 1em;
}

section.missile-weapon-details {
  display: grid;
  grid-template-areas: 
    "range"
    "table";
  grid-gap: 5px;
}

section.missile-weapon-details .range-and-notes {
  grid-area: range;
  display: grid;
  grid-template-columns: 1fr 1fr 1em 1fr 3fr;
  text-align: center;
}

section.missile-weapon-details table {
  grid-area: table;
}

section.missile-weapon-details table .data-cell {
  display: grid;
  grid-template-columns: repeat(2, 1fr 1em);
  text-align: center;
}

/* Spell Sheet */
.odnd-spell-sheet .two-labeled-across label {
  text-align: center;
}

/* Magic Section, Character Sheet */
.spells-iterated {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.spells-iterated h3 {
  margin-left: 1em;
  margin-bottom: 0px;
}

.spells-iterated ol {
  margin-top: 0px;
  margin-bottom: 0.5em;
}

/* Monster Sheet */
header.odnd-monster-header {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 50px 4fr 1fr;
}

header.odnd-monster-header div {
  display: grid;
  grid-template-columns: 1fr 2fr 1em 2fr;
  text-align: center;
}

section.odnd-monster-body .top-bit {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 2fr 4fr 2fr 4fr 2fr 2fr 1fr 2fr;
}

section.odnd-monster-body .meta-top span,
section.odnd-monster-body .top-bit span,
section.odnd-monster-body .meta-top label,
section.odnd-monster-body .top-bit label {
  text-align: center;
}

section.odnd-monster-body .meta-top {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 2fr 4fr 1fr 4fr 2fr 4fr;
}